<div class="container">
  <div class="border-bottom">
    <p>【質問】</p>
    <p><%= @question.title %></p>
  </div>
  <div class="border-bottom mt-5">
    <p>【詳細】</p>
    <p><%= markdown(@question.body).html_safe %></p>
  </div>
  <div class="mt-5">
    <% @solutions.each do |solution|  %>
      <p>【回答】</p>
      <div class="border-bottom my-5">
        <p><%= markdown(solution.answer).html_safe %></p>
      </div>
    <% end  %>
  </div>
</div>