@import "bootstrap/scss/bootstrap";

body {
 padding-top: 4.5rem;
}

//questionsテーブルのスタイル
.question {
    margin-bottom: 40px;
    border: 2px solid #333333;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    font-size: 22px;
    transition: 0.5s;
}

.question:hover {
  transition: 0.5s;
  transform: translateY(-5px);
  border: 2px solid #5C99FF;
}

.question p {
    margin: 0;
    padding: 0;
}

.container {
	margin-bottom: 90px;
}

//awsテーブルのスタイル
.aws-thead {
	background-color: #5C99FF;
	color: white;
}
.aws-index {
	font-weight: normal;
}
.aws-title {
	color: #5C99FF;
}

@media (max-width:992px) {
	p {
		font-size: 35px;
    }
    
    h2 {
        font-size: 45px;
        font-weight: bold;
    }

    h3 {
        font-size: 40px;
        font-weight: bold;
    }

    
    //ナビバーのスタイル
    .navbar-brand {
        font-size: 48px;
    }
    .dropdown-item {
        font-size:32px;
    }
    li {
        font-size: 32px;
	}

	//awsテーブルのスタイル
	.aws-container {
		font-size: 24px;
    }
    //awsテキストのスタイル
    .aws-content {
        width: 710px;
        line-height: 60px;
    }
}

@media (min-width:992px){

    .navbar-brand {
      font-size:32px
    }
}

  //ログイン画面
  .log_in{
  @extend .container-fluid;
  max-width: 500px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}
