.line-thead {
	background-color: #28a745;
	color: white;
}
.line-index {
	font-weight: normal;
}
.line-title {
	color: #28a745;
}


.line_texts {
  background-color: #28a745;
}
.aws_texts{
  background-color: #5C99FF;
}
