<nav class="navbar navbar-expand navbar-dark fixed-bottom justify-content-center" style="background-color: <%= nav_color  %>">
	<ul class="navbar-nav">
		<li nav-item><a href="#" class="nav-link active">ブログ</a></li>
		<li nav-item><a href="#" class="nav-link active">youtube</a></li>
	</ul>
</nav>
